.add_btn {
    -fx-background-color: #9f97de;
}

.add_btn:hover {
    -fx-background-color: #8e85d6;
}

.cancel_btn {
    -fx-background-color: #d0833f;
}

.cancel_btn:hover {
    -fx-background-color: #be691e;
}