.primary-color {
    -fx-background-color: #efefef;
}

.nav-form{
    -fx-background-color: linear-gradient(to bottom right, #272b3f, #256b51);
}

.nav-btn, .logout-btn {
    -fx-text-fill: #fff;
    -fx-background-color: transparent;
    -fx-font-size: 14px;
    -fx-font-weight: 600;
    -fx-cursor: hand;
}

.nav-btn:hover, .logout-btn:hover {
    -fx-font-weight: bold;
}

.avatar {

}

