.primary-color {
    -fx-background-color: #efefef;
}

.shadow{
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5),6,0,0,0);
}

.white-bg{
    -fx-background-color: #fff;
    -fx-background-radius: 8px;
}

.table-view{
    -fx-background-color: transparent;
    -fx-border-color: linear-gradient(to bottom right, #272b3f, #256b51);
    -fx-border-radius: 8px;
    -fx-padding: 0px;
}
.table-view .table-column{
    -fx-alignment: CENTER;
}
.table-view .column-header-background{
    -fx-background-color: linear-gradient(to bottom right, #272b3f, #256b51);
    -fx-background-insets: 0 0 0 0;
    -fx-background-radius: 8px 8px 0px 0px;
}
.table-view .column-header, .filter{
    -fx-background-color: transparent;
    -fx-size: 40px;
}
.table-view .column-header .label{
    -fx-text-fill: #fff;
    -fx-font-family: "Arial";
}

.search {
    -fx-background-color: transparent;
    -fx-cursor: hand;
}

.search-field{
    -fx-background-color: transparent;
    -fx-border-color: linear-gradient(to bottom right, #272b3f, #256b51);
    -fx-border-radius: 5px;
    -fx-font-size: 13px;
    -fx-font-family: "Arial";
    -fx-border-width: 1px;
    -fx-padding: 0px 0px 0px 10px;
}

.search-field:focused{
    -fx-border-width: 2px;
}

.date-field{
    -fx-background-color: transparent;
    -fx-border-color: linear-gradient(to bottom right, #272b3f, #256b51);
    -fx-border-radius: 5px;
    -fx-font-family: "Arial";
    -fx-border-width: 1px;
}

.date-field:focused{
    -fx-border-width: 2px;
}

.print-btn{
    -fx-background-color: #753566;
    -fx-background-radius: 8px;
    -fx-text-fill:#fff;
    -fx-font-size:15px;
    -fx-font-family:"Arial";
    -fx-cursor: hand;
}
.print-btn:hover{
    -fx-background-color: #9d3485;
}

.extract-btn{
    -fx-background-color: #327252;
    -fx-background-radius: 8px;
    -fx-text-fill:#fff;
    -fx-font-size:15px;
    -fx-font-family:"Arial";
    -fx-cursor: hand;
}
.extract-btn:hover{
    -fx-background-color: #309a65;
}

.patientField {
    -fx-background-color: #f5f5f5;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 4, 0.3, 0, 2);
}
