.root {
    -fx-background-color: #f4dff6;
}

.search {
    -fx-background-color: transparent;
    -fx-cursor: hand;
}

.addBtn {
    -fx-background-color: #9f97de;
    -fx-cursor: hand;
}

.addBtn:hover {
    -fx-background-color: #8e85d6;
}


.updateBtn {
    -fx-background-color: #abe1aa;
    -fx-cursor: hand;
}

.updateBtn:hover {
    -fx-background-color: #91e48f;
}

.deleteBtn {
    -fx-background-color: #e47e7e;
    -fx-cursor: hand;
}

.deleteBtn:hover {
    -fx-background-color: #e46161;
}

.resetBtn {
    -fx-background-color: #70e4dd;
    -fx-cursor: hand;
}

.resetBtn:hover {
    -fx-background-color: #47dcd3;
}

.exportBtn {
    -fx-cursor: hand;
}