.primary-color {
    -fx-background-color: #f4dff6;
}

.search {
    -fx-background-color: transparent;
    -fx-cursor: hand;
}

.printBtn {
    -fx-background-color: #9f97de;
    -fx-cursor: hand;
}

.printBtn:hover {
    -fx-background-color: #8e85d6;
}

.patientField {
    -fx-background-color: #f5f5f5;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 4, 0.3, 0, 2);
}