.root {
    -fx-background-color: #e7f3ff;
}

.signup_btn {
    -fx-background-color:  #4f56d9;
    -fx-cursor: hand;
}

.signup_btn:hover {
    -fx-background-color: #3c48ce;
}

/*.back_to_login {*/
/*    -fx-background-color: transparent;*/
/*}*/

.hyperlink:focused {
    -fx-border-color: transparent;
    -fx-background-insets: 0;
    -fx-faint-focus-color: transparent;
}

