.bg-white {
    -fx-background-color: #fff;
}

.container {
    -fx-border-color: #000;
    -fx-border-width: 0.4 0 0 0;
    -fx-border-style: solid;
}

.border{
    -fx-border-color: #000;
    -fx-border-width: 0.4;
    -fx-border-style: solid;
    -fx-background-radius: 8px;
    -fx-border-radius: 8px;
}

.signup_btn {
    -fx-background-color:  #4f56d9;
    -fx-cursor: hand;
}

.signup_btn:hover {
    -fx-background-color: #3c48ce;
}

.back_to_login {
    -fx-background-color: transparent;
}

.hyperlink:focused {
    -fx-border-color: transparent;
    -fx-background-insets: 0;
    -fx-faint-focus-color: transparent;
}

.scroll-pane {
    -fx-background-color: transparent;
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

.scroll-bar:vertical {
    -fx-background-color: #f0f0f0;
}

.scroll-bar:vertical .thumb {
    -fx-background-color: #c0c0c0;
}

.scroll-bar:vertical .thumb:hover {
    -fx-background-color: #a0a0a0;
}